@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #111111;
  --color-accent: #6d28d9;
  --color-muted: #71717a;

  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}

@layer base {
  body {
    @apply bg-background text-white font-sans;
    scroll-behavior: smooth;
  }
}